i {
  color: #228be6;
}
a {
  color: #333 !important;
}
* {
  list-style: none;
  text-decoration: none !important;
}
/* ảnh background */
.bg-img {
  display: block;
  background-image: linear-gradient(
      rgba(36, 36, 36, 0.3),
      rgba(36, 36, 36, 0.3)
    ),
    url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  background-size: cover;

  height: 40vh;
}
/* avt  */
.avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  scale: 4;
  border: #ffffff 1px solid;
}
/* dấu chấm xanh trong phần JOB-INFORMATION */
.dat-icon {
  width: 15px;
  stroke: #228be6;
  fill: #228be6;
  position: absolute;
  left: -0.5rem;
  top: 9px;
}
/* tiêu đề trong phần Information */
.title {
  position: relative;
}
.skill-level {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 30px;
}
.grid-max-width {
  grid-column: 1/-1;
}
/* icon trong phần sở thích */
.sm-icon {
  stroke: #228be6;
  width: 40px;
  border: #228be6 1px solid;
  border-radius: 50%;
  padding: 8px;
}
.like,
.my-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.a-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
/* dấu gạch dưới phần kỹ năng & ngôn ngữ  */
.blue {
  border: 1px solid #228be6;
}
.gray {
  background-color: #eaeef1;
}
/* khoảng cách giữa các grid item */
.my-grid {
  column-gap: 40px;
}
.lead {
  font-size: 25px;
}
.proj {
  border: #333 !important;
}
